@inject UserManager<User> UserManager

@{
    Layout = null;
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->

<head>
    <base href="/dash/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Nat - @(!string.IsNullOrEmpty(ViewData["Title"]as string) ? $"{ViewData["Title"]}" : "Dashboard")</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link href="assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css">

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<body>

<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="images/logo.png" alt="Logo">
            </a>
            <a class="navbar-brand hidden" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <img src="images/logo2.png" alt="Logo">
            </a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index">
                        <i class="menu-icon fa fa-dashboard"></i>
                    </a>
                </li>
                <h3 class="menu-title">Páginas</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Lista</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="fa fa-id-badge"></i><a asp-area="" asp-controller="Customers" asp-action="Index">Clientes</a>
                        </li>
                        <li>
                            <i class="fa fa-bars"></i><a asp-area="" asp-controller="Products" asp-action="Index">Produtos</a>
                        </li>
                        <li>
                            <i class="fa fa-share-square-o"></i><a asp-area="" asp-controller="Sales" asp-action="Index">Vendas</a>
                        </li>
                        <li>
                            <i class="fa fa-id-card-o"></i><a asp-area="" asp-controller="Employees" asp-action="Index">Funcionário</a>
                        </li>
                        <li>
                            <i class="fa fa-exclamation-triangle"></i><a asp-area="" asp-controller="Suppliers" asp-action="Index">Fornecedores</a>
                        </li>
                    </ul>
                </li>

                <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>....</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="menu-icon fa fa-sign-in"></i><a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li>
                            <i class="menu-icon fa fa-sign-in"></i><a asp-area="" asp-controller="Account" asp-action="Register">Cadastro</a>
                        </li>
                        <li>
                            <i class="menu-icon fa fa-paper-plane"></i><a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Esqueceu Senha?</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->
<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left">
                    <i class="fa fa fa-tasks"></i>
                </a>
                <div class="header-left">
                    <button class="search-trigger">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit">
                                <i class="fa fa-close"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">

                        <a class="nav-link" href="#"><i class="fa fa-user"></i> Notificações <span class="count">13</span></a>

                        <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index"><i class="fa fa-cog"></i> Configurações</a>

                        <a class="nav-link"><i class="fa fa-power -off"></i><form asp-controller="Account" asp-action="Logout"><input type="submit" value="Logout"/></form></a>
                    </div>
                </div>


            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Cadastro cliente</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">@* classes Cliente d-flex align-content-center flex-wrap *@
        @*<div class="container">
            <div class="cliente-content">


            </div>
            <div class="cliente-form">
                <form>
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="name" class="form-control" placeholder="Nome Completo">
                    </div>

                </form>
            </div>
        </div>*@
        @RenderBody()
    </div>
</div>


<!-- Right Panel -->

<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="assets/js/dashboard.js"></script>
<script src="assets/js/widgets.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.min.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
<script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
@*<script>
    (function($) {
        "use strict";

        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>*@
@RenderSection("Scripts", required: false)

</body>

</html>


@*
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>FarmNat - Dashboard</title>
        <link rel="stylesheet" type="text/css" href="~/dash/styles.css"/>
    </head>

    <body>
    <div id="app">
        <div class="sidebar">
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="">FarmNat</a>
                <button class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapsible">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <a class="nav-link active" asp-controller="Dashboard" asp-action="Index">
                            <span class="oi oi-home" aria-hidden="true"></span> Dashboard
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Categories" asp-action="Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Customers" asp-action="Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Customers
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Employees" asp-action="Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Products
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Sales" asp-action="Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Sales
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-controller="Suppliers" asp-action="Index">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Suppliers
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a asp-controller="Manage" asp-action="Index" class="ml-md-auto">Hello, @UserManager.GetUserAsync(User).Await().Name!</a>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <input type="submit" value="Log out"/>
                </form>
            </div>

            <div class="content px-4">
                @RenderBody()
            </div>
        </div>
    </div>
        @RenderSection("Scripts", required: false)
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
          var navBarTogglers = document.querySelectorAll('.navbar-toggler, .collapsible');
          Array.prototype.forEach.call(navBarTogglers, function (toggler) {
            toggler.addEventListener('click', function () {
              var els = document.getElementsByClassName('collapsible');
              Array.prototype.forEach.call(els, function (el) {
                el.classList.toggle('collapse');
              });
            });
          });
        });
        </script>
    </body>

    </html>
*@