@model Product

@{
    ViewData["Title"] = "Deletar";
}

<h3>Tem certeza que deseja deletar esse produto?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>

    <img alt="" style="max-width: 500px; max-height: 500px;" src="@Html.DisplayFor(model => model.PathToPicture)" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceWithDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceWithDiscount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerialCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerialCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
    </dl>

    <form asp-action="Delete" style="margin-bottom: 30px;">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
