@model AerariumTech.Pharmacy.Domain.Stock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovementType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovementType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Batch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Batch.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
