@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Login";
}


<div class="banner-top">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <h4>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <label>/</label>Login
        </h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Login</h3>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="All"></div>
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input asp-for="User" value="Usuário" onfocus="this.value = '';" onblur="if (this.value === '') {this.value = 'Usuário';}"/>
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input asp-for="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value === '') {this.value = 'Password';}"/>
                    <div class="clearfix"></div>
                </div>
                <div class="">
                    <input asp-for="RememberMe"/>
                    @Html.DisplayNameFor(x => x.RememberMe)
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="forg">
            <a asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="forg-left">Esqueceu a senha?</a>
            <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="forg-right">Registrar</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@*
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Use a local account to log in.</h4>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User"></label>
                    <input asp-for="User" class="form-control"/>
                    <span asp-validation-for="User" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
    *@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}