@model AerariumTech.Pharmacy.Models.ShoppingCartViewModels.AddToCartViewModel
@{
    var product = ViewBag.Product as Product;
}

<div class="container" style="margin-bottom: 30px;">
    <div class="single-top-main">
        <div class="col-md-5 single-top">
            <div class="single-w3agile">

                <div id="picture-frame">
                    <img src="@Html.DisplayFor(p => product.PathToPicture)" alt="" class="img-responsive"/>
                </div>
            </div>
        </div>
        <div class="col-md-7 single-top-left ">
            <div class="single-right">
                <h3>@Html.DisplayFor(p => product.Name)</h3>
                <div class="pr-single">
                    <p class="reduced ">
                        <del>@Html.DisplayFor(p => product.Price)</del>@Html.DisplayFor(p => product.ActualPrice)
                    </p>
                </div>
                <p class="in-pa">
                    @Html.DisplayFor(p => product.Description)
                </p>
                @*<ul class="social-top">
                        <li>
                            <a href="#" class="icon facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon pinterest">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon dribbble">
                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                    </ul>*@
                <form asp-controller="ShoppingCart" asp-action="AddToCart" class="add add-3">
                    <input type="hidden" asp-for="ProductId"/>
                    <input type="hidden" asp-for="Quantity"/>
                    <button class="btn btn-danger my-cart-btn my-cart-b">
                        Adicionar ao Carrinho
                    </button>
                </form>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

@*
<div>
    <img style="max-width: 250px;" alt="" src="@Html.DisplayFor(p => product.PathToPicture)"/>
    <span>@Html.DisplayFor(p => product.Name)</span>
    <span>@Html.DisplayFor(p => product.ActualPrice)</span>

    <form method="post" asp-controller="ShoppingCart" asp-action="AddToCart">
        <input type="hidden" asp-for="ProductId"/>
        <input type="hidden" asp-for="Quantity"/>
        <input type="submit" value="Add to cart"/>
    </form>

</div>
*@