@model IEnumerable<ShoppingCartItemViewModel>

@if (Model.Any())
{
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.ProductName)</th>
            <th>@Html.DisplayNameFor(e => e.Quantity)</th>
            <th>@Html.DisplayNameFor(e => e.Price)</th>
            <th>@Html.DisplayNameFor(e => e.SubTotal)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.ProductName)</td>
                <td>@Html.DisplayFor(x => item.Quantity)</td>
                <td>@Html.DisplayFor(x => item.Price)</td>
                <td>@Html.DisplayFor(x => item.SubTotal)</td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        <a asp-area="" asp-controller="ShoppingCart" asp-action="Checkout">Proceed to checkout</a>
    </div>
}
else
{
    <span>There's no items in your cart!</span>
}