@model IEnumerable<ShoppingCartItemViewModel>
@* For some reason, the model must be a IEnumerable so we can use HtmlHelpers *@
@{
    var cart = Model as ShoppingCartViewModel;
}

<style>
    .table * * * {
        vertical-align: middle !important;
        text-align: center;
    }
</style>

<div class="content">
    <div class="container-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-shopping-cart"></span> Meu carrinho</h4>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-responsive">
            @if (!Model.Any())
            {
                <div class="alert alert-danger">Seu carrinho está vazio!</div>
            }
            else
            {
                <thead>
                <tr>
                    <th colspan="2">@Html.DisplayNameFor(x => x.ProductName)</th>
                    <th>@Html.DisplayNameFor(x => x.Price)</th>
                    <th>@Html.DisplayNameFor(x => x.Quantity)</th>
                    <th>@Html.DisplayNameFor(x => x.SubTotal)</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 90px;">
                            <img style="max-width: 150px;" alt="" src="@Html.DisplayFor(x => item.ProductPicture)"/>
                        </td>
                        <td>@Html.DisplayFor(x => item.ProductName)</td>
                        <td>@Html.DisplayFor(x => item.Price)</td>
                        <td>@Html.DisplayFor(x => item.Quantity)</td>
                        <td>@Html.DisplayFor(x => item.SubTotal)</td>
                        <td>
                            <form asp-controller="ShoppingCart" asp-action="RemoveFromCart">
                                <input type="hidden" name="productId" value="@item.ProductId"/> @* Little problem we should fix later *@
                                <input type="submit" value=" "/>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <th>@Html.DisplayNameFor(x => cart.Total)</th>
                    <td>@Html.DisplayFor(x => cart.Total)</td>
                </tr>
                </tfoot>
            }
        </table>
        
        @if (Model.Any())
        {
            <a asp-controller="ShoppingCart" asp-action="Checkout" class="btn btn-primary" style="margin-bottom: 15px; float: right;">Continuar para o pagamento</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" style="margin-bottom: 15px; float: right;">Continue comprando</a>
        }
    </div>

</div>
<div class="clearfix"> </div>

@*
<style>
    .table * tr * {
        text-align: center;
        vertical-align: middle !important;
    }
</style>

<div class="banner-top">
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.SubTotal)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 100px;">
                    <img alt="" src="@Html.DisplayFor(x => item.ProductPicture)" style="max-width: 100px;"/>
                </td>
                <td>
                    @Html.DisplayFor(model => item.ProductName)
                </td>
                <td>
                    <form asp-controller="ShoppingCart" asp-action="Index" method="post">
                        <input asp-for="@item.Quantity"/>
                        <input type="hidden" asp-for="@item.ProductId"/>
                        <input type="submit" value=""/> @* Put img of refresh here 
</form>
</td>
<td>
    @Html.DisplayFor(model => item.Price)
</td>
<td>
    @Html.DisplayFor(model => item.SubTotal)
</td>
</tr>
}
</tbody>
<tfoot>
<tr>
    <td colspan="3"></td>
    <th>@Html.DisplayNameFor(model => cart.Total)</th>
    <td>@Html.DisplayFor(model => cart.Total)</td>
</tr>
</tfoot>
</table>
</div>

======================== * ================

<link rel="stylesheet" href="/css/scart.css" type="text/css">
<div class="container">
    <!-- Mainbar-Starts-Here -->
    <div class="main-bar">
        <div class="product">
            <h3>Produto</h3>
        </div>
        <div class="quantity">
            <h3>Quantidade</h3>
        </div>
        <div class="price">
            <h3>Preço</h3>
        </div>
        <div class="clear"></div>
    </div>
    <!-- //Mainbar-Ends-Here -->
    <!-- Items-Starts-Here -->
    <div class="items">

        <!-- Item1-Starts-Here -->
        <div class="item1">
            <div class="close1">
                <!-- Remove-Item -->
                <div class="alert-close1"> </div>
                <!-- //Remove-Item -->
                <div class="image1">
                    <img src="images/item1.jpg" alt="item1">
                </div>
                <div class="title1">
                    <p>Biotônico Fontoura</p>
                </div>
                <div class="quantity1">
                    <form action="action_page.php">
                        <input type="number" name="quantity" min="1" max="10" value="1">
                    </form>
                </div>
                <div class="price1">
                    <p>R$ 15,90</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- //Item1-Ends-Here -->
        <!-- Item2-Starts-Here -->
        <div class="item2">
            <div class="close2">
                <!-- Remove-Item -->
                <div class="alert-close2"> </div>
                <!-- //Remove-Item -->
                <div class="image2">
                    <img src="images/item2.jpg" alt="item2">
                </div>
                <div class="title2">
                    <p>ENO Sabor Laranja</p>
                </div>
                <div class="quantity2">
                    <form action="action_page.php">
                        <input type="number" name="quantity" min="1" max="10" value="1">
                    </form>
                </div>
                <div class="price2">
                    <p>R$ 5,99</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- //Item2-Ends-Here -->
        <!-- Item3-Starts-Here -->
        <div class="item3">
            <div class="close3">
                <!-- Remove-Item -->
                <div class="alert-close3"> </div>
                <!-- //Remove-Item -->
                <div class="image3">
                    <img src="images/item3.jpg" alt="item3">
                </div>
                <div class="title3">
                    <p>Aspirina</p>
                </div>
                <div class="quantity3">
                    <form action="action_page.php">
                        <input type="number" name="quantity" min="1" max="10" value="1">
                    </form>
                </div>
                <div class="price3">
                    <p>R$ 10,99</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- //Item3-Ends-Here -->

    </div>
    <!-- //Items-Ends-Here -->
    <!-- Total-Price-Starts-Here -->
    <div class="total">
        <div class="total1">Total</div>
        <div class="total2">R$ 32,88</div>
        <div class="clear"></div>
    </div>
    <!-- //Total-Price-Ends-Here -->
    <!-- Checkout-Starts-Here -->
    <div class="checkout">
        <div class="add">
            <a href="#"></a>
        </div>
        <div class="checkout-btn">
            <a href="#">Finalizar Compra</a>
        </div>
        <div class="clear"></div>
    </div>
    <!-- //Checkout-Ends-Here -->

</div>

@*
    @if (Model.Any())
    {
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(e => e.ProductName)</th>
                <th>@Html.DisplayNameFor(e => e.Quantity)</th>
                <th>@Html.DisplayNameFor(e => e.Price)</th>
                <th>@Html.DisplayNameFor(e => e.SubTotal)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.ProductName)</td>
                    <td>@Html.DisplayFor(x => item.Quantity)</td>
                    <td>@Html.DisplayFor(x => item.Price)</td>
                    <td>@Html.DisplayFor(x => item.SubTotal)</td>
                </tr>
            }
            </tbody>
        </table>
        <div>
            <a asp-area="" asp-controller="ShoppingCart" asp-action="Checkout">Proceed to checkout</a>
        </div>
    }
    else
    {
        <span>There's no items in your cart!</span>
    }
*@